<div class="backing-div">
  <div class="client-feedback-slider-one">
    <div class="shapes-holder">
      <img src="images/backing/BgShape.svg" class="bg-shape" alt="BG Shape">
      <img src="images/backing/TL1.svg" class="topleft" alt="">
      <img src="images/backing/LT1.webp" class="leftop" alt="">
      <img src="images/backing/LB1.webp" class="leftbottom" alt="">
      <img src="images/backing/BR1.webp" class="bottomright" alt="">
    </div>
    <div class="container">
      <div class="heading-section">
        <h2>Who's Backing Us?</h2>
      </div>
      <div class="text-section">
        <p>
          Burq is backed by 
          <a href="https://onewayvc.com/">One Way Ventures</a> and 
          <a href="https://www.villageglobal.vc/">Village Global</a>, 
          the fund whose investors include Bill Gates, Jeff Bezos, Mark Zuckerberg, Reid Hoffman, and Sara Blakely. 
          We're also a proud member of the 
          <a href="https://innovationlabs.harvard.edu/">Harvard Innovation Labs</a>.
        </p>
      </div>
      <div class="investors">INVESTORS</div>
    </div>
  </div>

  <div class="fancy-short-banner">
    <div class="container">
      <div class="title">
        <h2>Start powering your deliveries with Burq today!</h2>
      </div>
      <div class="cta">
          <button class="cta-backing">Let's Get Started</button>
      </div>
      <div class="fancy-image-topright">
        <img src="images/backing/redCircles.svg" alt="">
      </div>
    </div>
  </div>
</div>