<div class="ind-main-container" id="industries">
    <div class="ind-container" #indContainer *ngIf="tabContentData?.title && tabContentData?.tabContent">
            <h3 
            *ngIf="!isEditingTabHeading" 
            class="tab-heading show" 
            #indHeading 
            (dblclick)="enableTabHeadingEdit()"
            >
                {{ tabContentData?.title }}
            </h3>
            <input 
                *ngIf="isEditingTabHeading" 
                type="text" 
                [(ngModel)]="editedTabHeading" 
                (keydown.enter)="saveTabHeadingEdit()" 
                (keydown.escape)="cancelTabHeadingEdit()" 
                (blur)="cancelTabHeadingEdit()" 
                class="tab-heading-edit"
            >
        <div class="tab-container show" #indTabContainer>
            <div class="ind-tabs">
                <div class="ind-tab active" data-tab="10"><img src="/images/tabIcons/ecommerce-blue.svg" class="ind-icon active" data-tab="10"></div>
                <div class="ind-tab inactive" data-tab="11"><img src="/images/tabIcons/food.svg" class="ind-icon inactive" data-tab="11"></div>
                <div class="ind-tab inactive" data-tab="12"><img src="/images/tabIcons/flower-shop.svg" class="ind-icon inactive" data-tab="12"></div>
                <div class="ind-tab inactive" data-tab="13"><img src="/images/tabIcons/pharmacy.svg" class="ind-icon inactive" data-tab="13"></div>
                <div class="ind-tab inactive" data-tab="14"><img src="/images/tabIcons/construction.svg" class="ind-icon inactive" data-tab="14"></div>
                <div class="ind-tab inactive" data-tab="15"><img src="/images/tabIcons/grocery.svg" class="ind-icon inactive" data-tab="15"></div>
                <div class="ind-tab inactive" data-tab="16"><img src="/images/tabIcons/retailer.svg" class="ind-icon inactive" data-tab="16"></div>
            </div>
        </div>
        <div class="ind-content show" #indTabContent>
            <div class="ind-tabcontent active" data-tab="10">
                <app-image [pID]="p_ID" class="indCont"/>
                <div class="ind-tabdetails">
                    <h3 *ngIf="!isEditingHeader" (dblclick)="enableHeaderEdit()">
                        {{ tabContentData?.tabContent.tc1[0] }}
                      </h3>
                      <input 
                        *ngIf="isEditingHeader" 
                        type="text" 
                        [(ngModel)]="editedHeader" 
                        (keydown.enter)="saveHeaderEdit()"
                        (keydown.escape)="cancelHeaderEdit()" 
                        (blur)="cancelHeaderEdit()" 
                        class="header-edit"
                      >
                      
                      <p *ngIf="!isEditingParagraph" (dblclick)="enableParagraphEdit()">
                        {{ tabContentData?.tabContent.tc1[1] }}
                      </p>
                      <input 
                        *ngIf="isEditingParagraph" 
                        type="text" 
                        [(ngModel)]="editedParagraph" 
                        (keydown.enter)="saveParagraphEdit()"
                        (keydown.escape)="cancelParagraphEdit()" 
                        (blur)="cancelParagraphEdit()" 
                        class="paragraph-edit"
                      >
                </div>
            </div>
        </div>
    </div>
</div>