<nav class="navbar" #navbar id="navbar">
  <div class="navbar-container">
    <a class="navbar-brand">
      <img [src]="imageUrl[0]" alt="Burq Logo" />
      <button class="circle-button" (click)="changeLogo()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="16" aria-hidden="true">
            <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1 0 32c0 8.8 7.2 16 16 16l32 0zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/>
        </svg>
      </button>
    </a>
    <ul class="nav-links" *ngIf="navbarData?.listItems && navbarData?.buttonText">
      <li class="dropdown" *ngFor="let item of navbarData.listItems; let i = index">
        <span *ngIf="!editingKeyIndex.has(i)" (click)="enableEditKey(i)">
          {{ item.key }} <i class="arrow down" *ngIf="item.values.length"></i>
        </span>
        <input *ngIf="editingKeyIndex.has(i)" [(ngModel)]="editKeyValue" 
               (keydown.enter)="saveKeyEdit(i)" 
               (keydown.escape)="cancelKeyEdit()" />

        <ul class="dropdown-menu" *ngIf="item.values.length">
          <li *ngFor="let subItem of item.values; let j = index">
            <span *ngIf="!editingValueIndex.has(i + '-' + j)" (click)="enableEditValue(i, j)">
              {{ subItem }}
            </span>
            <input *ngIf="editingValueIndex.has(i + '-' + j)" [(ngModel)]="editValue"
                   (keydown.enter)="saveValueEdit(i, j)" 
                   (keydown.escape)="cancelValueEdit()" />
          </li>
        </ul>
      </li>

      <li>
        <button
          class="cta-nav"
          *ngIf="editingField !== 'buttonText'; else editButtonText"
          (click)="startEditing('buttonText')"
        >
          {{ navbarData.buttonText[0] }}
        </button>
        <ng-template #editButtonText>
          <input
            type="text"
            [(ngModel)]="editButton"
            (blur)="saveField()"
            (keyup)="handleKeyUp($event)"
            placeholder="Button Text"
            autofocus
          />
          <input
            type="text"
            [(ngModel)]="editButtonUrl"
            (blur)="saveField()"
            (keyup)="handleKeyUp($event)"
            placeholder="Button URL"
          />
        </ng-template>
      </li>
    </ul>
    
  </div>
</nav>

<div class="overlay" *ngIf="change">
  <div class="modal-content">
    <button class="close-button" (click)="changeLogo()">✖</button>
    <app-image [pID]="publicID"></app-image>
  </div>
</div>

<header class="hero-section" #heroSection id="heroSection">
<div class="container">
  <div class="hero-content" *ngIf="heroSectionData">
    <h1
      *ngIf="editingHeroSectionField !== 'heading'; else editHeading"
      (click)="startHeroEditing('heading')"
    >
      {{ heroSectionData.heading }}
    </h1>
    <ng-template #editHeading>
      <textarea
        [(ngModel)]="heroSectionData.heading"
        (blur)="saveHeroField()"
        (keyup)="handleHeroKeyUp($event)"
        autofocus
      ></textarea>
    </ng-template>

    <p
      *ngIf="editingHeroSectionField !== 'paragraph'; else editParagraph"
      (click)="startHeroEditing('paragraph')"
    >
      {{ heroSectionData.paragraph }}
    </p>
    <ng-template #editParagraph>
      <textarea
        [(ngModel)]="heroSectionData.paragraph"
        (blur)="saveHeroField()"
        (keyup)="handleHeroKeyUp($event)"
        autofocus
      ></textarea>
    </ng-template>

    <button
      class="cta-hero"
      *ngIf="editingHeroSectionField !== 'buttonText'; else editButtonFields"
      (click)="startHeroEditing('buttonText')"
    >
      {{ heroSectionData.buttonText[0] }}
    </button>

    <ng-template #editButtonFields>
      <div>
        <input
          type="text"
          [(ngModel)]="editingHeroButtonText"
          (blur)="saveHeroField()"
          (keyup)="handleHeroKeyUp($event)"
          placeholder="Edit Button Text"
          autofocus
        />
      </div>
      <div>
        <input
          type="text"
          [(ngModel)]="editingHeroButtonUrl"
          (blur)="saveHeroField()"
          (keyup)="handleHeroKeyUp($event)"
          placeholder="Edit Button URL"
        />
      </div>
    </ng-template>

  </div>
  <div class="hero-video">
  <div class="video-container">
    <app-video [pID]="public_id"/>
  </div>
  </div>
</div>
</header>