.navbar {
  background-color: #ffffff;
  font-family: sans-serif, 'Rubik';
  font-weight: normal;
  padding: 20px 10px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  transition: all 1s ease;
}

.navbar.expand{
  padding: 45px 10px;
  box-shadow: none;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.navbar-brand {
  flex: 0 1 auto;
}

.navbar-brand img {
  width: 120px;
  height: 38px;
  transform: translateY(5px);
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0px 0px 0px 10px;
  padding: 0px;
  margin-left: auto;
  transform: translateX(60px);
}

.nav-links li {
  margin: 0 1.3rem;
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: #2B2C2E;
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: color 0.3s;
  font-size: 1.1rem;
}

.nav-links a:hover {
  color: #007bff;
}

.arrow {
  display: inline-block;
  border: solid #474747;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(45deg);
  margin-left: 5px;
  transition: transform 0.3s;
  position: absolute;
  top: 9px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  list-style: none;
  z-index: 1000;
  min-width: 150px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 3px 0px;
  white-space: nowrap;
  margin: 15px;
}

.dropdown-menu a {
  color: #000000;
  font-weight: 400;
  font-size: medium;
  display: block;
  padding: 5px;
}

.dropdown-menu a:hover {
  background-color: #f8f9fa;
  padding-left: 10px;
  color: #007bff;
  transition: 0.3s;
}

.cta-nav {
  background-color: #3066ED;
  color: #ffffff;
  border: none;
  padding: 15px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  transition: background-color 0.3s;
  margin-left: 100px;
  margin-right: 45px;
}

.cta-nav:hover {
  background-color: #FEB913;
}
  
// Editing navbar
.nav-links input {
  border: 1px solid #ccc;
  padding: 8px 12px;
  font-size: 1rem;
  font-weight: 400;
  width: 90%;
  border-radius: 4px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.nav-links input:focus {
  border-color: #3066ED;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.nav-links input.editing {
  background-color: #f1f1f1;
  cursor: text;
}

.nav-links .dropdown-menu input:focus {
  border-color: #3066ED;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}


.nav-links a, .nav-links input {
  transition: all 0.3s ease;
}

.hero-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 100px 0px 100px 0px;
  font-family: sans-serif;
  background-color: #FFFFFF;
  height: auto;
  margin-top: 50px; 
  position: relative;
}

.hero-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero-content {
  width: 55%;
  text-align: left;
  margin-top: 0;
  padding: 20px 0px 0px 60px;

  h1 {
    font-size: 70px;
    font-weight: 500;
    line-height: 1.2;
    color: #000000;
    margin-bottom: 1.5rem;
    letter-spacing: 1.5px;
  }

  p {
    color: #8C98A4;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    margin: 2rem 0;
  }

  .cta-hero {
    background-color: #3066ED;
    color: #ffffff;
    border: none;
    padding: 1rem 1rem;
    margin: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: background-color 0.3s;
    transform: translateX(-19px);
  }

  .cta-hero:hover {
    background-color: #F94F14;
  }

  // editing

  textarea,
  input[type='text'] {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: #000000;
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border: 2px solid #3066ED;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    resize: none;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
      border-color: #F94F14;
      box-shadow: 0 0 6px rgba(249, 79, 20, 0.5);
    }
  }

  textarea {
    min-height: 100px;
  }

  input[type='text'] {
    height: 40px;
  }
}

.hero-video {
  width: 55%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;

  .video-container {
    width: 100%;
    max-width: none;
    height: 100%;
    padding: 50px 0px 0px 10px;
  }

  video {
    width: 100%;
    height: auto;
    display: block;
  }
}

.circle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  transform: translateX(120px);
}

.circle-button svg {
  fill: black;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110vh;
  background-color: rgba(99, 99, 99, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 0px;
  background: none;
  color: red;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1001;
}

.close-button:hover {
  color: red;
}