<div class="main">
    <nav class="navbar">
        <div class="navbar-container">
            <a class="navbar-brand">
                <button id="openNav" (click)="openNav()"><img src="/images/burq-logo.jpg"></button>
            </a>
            <ul class="nav-links">
                <li><a href="/burq">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/burq"><button class="cta-nav">Profile</button></a></li>
            </ul>
        </div>
    </nav>  

    <div id="mySidenav" class="sidenav" #mySidenav>
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <div class="dropdown">
            <a href="javascript:void(0)" (click)="toggleDropdown($event)">Navbar</a>
            <div class="dropdown-content">
                <a href="/burq">Submenu 1</a>
                <a href="/burq">Submenu 2</a>
                <a href="/burq">Submenu 3</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="javascript:void(0)" (click)="toggleDropdown($event)">Hero</a>
            <div class="dropdown-content">
                <a href="/burq">Submenu 1</a>
                <a href="/burq">Submenu 2</a>
                <a href="/burq">Submenu 3</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="javascript:void(0)" (click)="toggleDropdown($event)">Features</a>
            <div class="dropdown-content">
                <a href="/burq">Submenu 1</a>
                <a href="/burq">Submenu 2</a>
                <a href="/burq">Submenu 3</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="javascript:void(0)" (click)="toggleDropdown($event)">Provider</a>
            <div class="dropdown-content">
                <a href="/burq">Submenu 1</a>
                <a href="/burq">Submenu 2</a>
                <a href="/burq">Submenu 3</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="javascript:void(0)" (click)="toggleDropdown($event)">Counter</a>
            <div class="dropdown-content">
                <a href="/burq">Submenu 1</a>
                <a href="/burq">Submenu 2</a>
                <a href="/burq">Submenu 3</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="javascript:void(0)" (click)="toggleDropdown($event)">Tab</a>
            <div class="dropdown-content">
                <a href="/burq">Submenu 1</a>
                <a href="/burq">Submenu 2</a>
                <a href="/burq">Submenu 3</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="javascript:void(0)" (click)="toggleDropdown($event)">Integrate</a>
            <div class="dropdown-content">
                <a href="/burq">Submenu 1</a>
                <a href="/burq">Submenu 2</a>
                <a href="/burq">Submenu 3</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="javascript:void(0)" (click)="toggleDropdown($event)">Industries</a>
            <div class="dropdown-content">
                <a href="/burq">Submenu 1</a>
                <a href="/burq">Submenu 2</a>
                <a href="/burq">Submenu 3</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="javascript:void(0)" (click)="toggleDropdown($event)">Why Burq?</a>
            <div class="dropdown-content">
                <a href="/burq">Submenu 1</a>
                <a href="/burq">Submenu 2</a>
                <a href="/burq">Submenu 3</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="javascript:void(0)" (click)="toggleDropdown($event)">Selling Points</a>
            <div class="dropdown-content">
                <a href="/burq">Submenu 1</a>
                <a href="/burq">Submenu 2</a>
                <a href="/burq">Submenu 3</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="javascript:void(0)" (click)="toggleDropdown($event)">Testimonials</a>
            <div class="dropdown-content">
                <a href="/burq">Submenu 1</a>
                <a href="/burq">Submenu 2</a>
                <a href="/burq">Submenu 3</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="javascript:void(0)" (click)="toggleDropdown($event)">Backing</a>
            <div class="dropdown-content">
                <a href="/burq">Submenu 1</a>
                <a href="/burq">Submenu 2</a>
                <a href="/burq">Submenu 3</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="javascript:void(0)" (click)="toggleDropdown($event)">Powering</a>
            <div class="dropdown-content">
                <a href="/burq">Submenu 1</a>
                <a href="/burq">Submenu 2</a>
                <a href="/burq">Submenu 3</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="javascript:void(0)" (click)="toggleDropdown($event)">Footer</a>
            <div class="dropdown-content">
                <a href="/burq">Submenu 1</a>
                <a href="/burq">Submenu 2</a>
                <a href="/burq">Submenu 3</a>
            </div>
        </div>
    </div>
</div>