<div class="main">
    <nav class="navbar">
        <div class="navbar-container">
            <a class="navbar-brand">
                <img src="/images/burq-logo.jpg">
            </a>
            <ul class="nav-links" *ngIf="navbarData?.List && navbarData?.Button">
                <li *ngFor="let key of objectKeys(navbarData.List)">
                    <a [href]="navbarData.List[key].link">{{ navbarData.List[key].name }}</a>
                </li>
                <li>
                    <a (click)="connectToSocket()">
                        <button class="cta-nav">Publish</button>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="mySidenav" class="sidenav" #mySidenav>
        <div class="dropdown" *ngFor="let section of dropdownSections">
            <a (click)="toggleDropdown($event, section.name, section.postion)"> {{ section.name }} </a>
            <div class="dropdown-content" [ngClass]="{'open': section.isOpen}"> 
              <a *ngFor="let item of section.items let i = index"> {{ item }} </a>
            </div>
        </div>          
    </div>

    <div class="dashboard-container">
        <div class="home-viewport">
          <app-template #template (templateEvent)="receiveUpdatedData($event)"/>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>