body {
    font-family:  Arial, Helvetica, sans-serif;
}

.main-container {
    margin: 150px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    max-width: 1480px;
}

.content-container {
    height: 500px;
    background-color: #fff;
    padding: 50px 150px 50px 250px;
}

.video-container {
    flex: 6 1 0;
    transform: translateX(-100px);
    transition: 1s;
    opacity: 0;
}

.video-container.show{
    transform: translateX(0);
    opacity: 1;
}

.text-container {
    flex: 4 1 0;
    padding: 0px 0px 0px 70px;
    transform: translateX(100px);
    font-family:  Arial, Helvetica, sans-serif;
    transition: 1s;
    opacity: 0;
    p{
        transform: translateY(-120px);
    }
}

.text-container.show{
    transform: translateX(0);
    transform: translateY(-30px);
    opacity: 1;
}
.video-element {
    width: 100%;
    height: auto;
}

.line-image {
    width: 430px;
    height: 100px;
    transform: translateY(-70px);
}

.list-container {
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    color:#8C98A4;
}

.list-item {
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1.2px;
    transform: translateY(-100px);
}

.header-text {
    font-size: 36px;
    line-height: 1.5;
    font-weight: lighter;
}

.paragraph-text {
    font-size: 20px;
    letter-spacing: 1.2px;
    line-height: 1.5;
    color:#8C98A4;
    transform: translateY(-90px);
}

input[type="text"] {
    font-size: 20px;
    letter-spacing: 1.2px;
    line-height: 1.5;
    color: #333;
    border: 1px solid #8C98A4;
    border-radius: 5px;
    padding: 10px;
    background-color: transparent;
    width: 80%;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
}

input[type="text"]:focus {
    border-color: #3066ED;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
}

input[type="text"], .header-text, .paragraph-text {
    transition: opacity 0.3s ease;
}

input[type="text"]:not(:focus) {
    opacity: 0.7;
}

.bottom-container {
    display: flex;
    font-family:  Arial, Helvetica, sans-serif;
    justify-content: space-between;
    padding: 50px 100px 80px;
    gap: 150px;
    //transform: translateY(-180px);
}

.bottom-item1 {
    width: 100%;
    text-align: center;
    flex: 1;
    padding: 5px;
    margin: 40px 0px 0px;
    transform: translateY(300px);
    transition: 1s;
    opacity: 0;

    h3 {
        font-size: 38px;
        color:black;
        font-weight: lighter;
        padding: 5px 0px 3px;
        margin: 10px 0px 0px;
    }

    p{
        color:#8C98A4;
        font-size: 20px;
        letter-spacing: normal;
        margin: 0px;
    }
}
.bottom-item2 {
    width: 100%;
    text-align: center;
    flex: 1;
    padding: 5px;
    margin: 40px 0px 0px;
    transform: translateY(300px);
    transition: 1.5s;
    opacity: 0;

    h3 {
        font-size: 38px;
        color:black;
        font-weight: lighter;
        padding: 5px 0px 3px;
        margin: 10px 0px 0px;
    }

    p{
        color:#8C98A4;
        font-size: 20px;
        letter-spacing: normal;
        margin: 0px;
    }
}
.bottom-item3 {
    width: 100%;
    text-align: center;
    flex: 1;
    padding: 0px;
    margin: 40px 0px 0px;
    transform: translateY(300px);
    transition: 2s;
    opacity: 0;

    img{
        scale: 1.5;
        transform: translateY(-5px);
    }
    h3 {
        font-size: 38px;
        color:black;
        font-weight: lighter;
        padding: 5px 0px 3px 10px;
        margin: 10px 0px 0px;
    }

    p{
        color:#8C98A4;
        font-size: 20px;
        letter-spacing: normal;
        margin: 0px;
        padding-left: 10px;
    }
}

.bottom-item1.show{
    transform: translateY(0);
    opacity: 1;
}
.bottom-item2.show{
    transform: translateY(0);
    opacity: 1;
}
.bottom-item3.show{
    transform: translateY(22px);
    opacity: 1;
}

.bottom-item1, .bottom-item2, .bottom-item3 {
    h3, p{
        cursor: pointer;
    }

    input[type="text"] {
        font-size: 18px;
        letter-spacing: 1.2px;
        line-height: 1.5;
        color: #333;
        border: 1px solid #8C98A4;
        border-radius: 5px;
        padding: 5px;
        background-color: transparent;
        width: 80%;
        transition: border-color 0.3s, box-shadow 0.3s;
        outline: none;
    }
    
    input[type="text"]:focus {
        border-color: #3066ED;
        box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
    }
    
    input[type="text"], h3, p {
        transition: opacity 0.3s ease;
    }
    
    input[type="text"]:not(:focus) {
        opacity: 0.7;
    }
}

.circle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    transform: translateX(120px);
  }
  
  .circle-button svg {
    fill: black;
  }
  
  .overlay {
    position: fixed;
    top: 2100px;
    left: 0;
    width: 110vw;
    height: 110vh;
    background-color: rgba(99, 99, 99, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 0px;
    background: none;
    color: red;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1001;
  }
  
  .close-button:hover {
    color: red;
  }