<footer>
  <div class="footer-container" #footerContainer id="footer">
    <div class="footer-section show footer-logo" #footerLogo>
      <a href="/"><img [src]="imageUrl" alt="Burq" style="width: 80px; height: 80px;" class="footerlogo"></a>
      <button class="circle-button" (click)="changeLogo(1)">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="16" aria-hidden="true">
            <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1 0 32c0 8.8 7.2 16 16 16l32 0zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/>
        </svg>
      </button>
    </div>
    <div class="footer-section show" #footerSection>
      <h5>
        <ng-container *ngIf="!editingKeyIndex.has(0); else editKeyTemplate">
          <span (click)="enableEditKey(0)">
            {{ footerData?.listItems[0]?.key }}
          </span>
        </ng-container>
        <ng-template #editKeyTemplate>
          <input 
            class="editable-input" 
            [(ngModel)]="editKeyValue" 
            (keydown.enter)="saveKeyEdit(0)" 
            (keydown.escape)="cancelKeyEdit()" 
          />
        </ng-template>
      </h5>
      <ul *ngIf="footerData?.listItems[0].values?.length > 0" class="editable-list">
        <li *ngFor="let value of footerData?.listItems[0].values; let valueIndex = index">
          <ng-container *ngIf="!editingValueIndex.has(0 + '-' + valueIndex); else editValueTemplate">
            <span (click)="enableEditValue(0, valueIndex)">
              {{ value }}
            </span>
          </ng-container>
          <ng-template #editValueTemplate>
            <input 
              class="editable-input" 
              [(ngModel)]="editValue" 
              (keydown.enter)="saveValueEdit(0, valueIndex)" 
              (keydown.escape)="cancelValueEdit(0, valueIndex)" 
            />
          </ng-template>
        </li>
      </ul>      
    </div>

    <div class="footer-section show" #footerSection>
      <h5>
        <ng-container *ngIf="!editingKeyIndex.has(1); else editKeyTemplate">
          <span (click)="enableEditKey(1)">
            {{ footerData?.listItems[1]?.key }}
          </span>
        </ng-container>
        <ng-template #editKeyTemplate>
          <input 
            class="editable-input" 
            [(ngModel)]="editKeyValue" 
            (keydown.enter)="saveKeyEdit(1)" 
            (keydown.escape)="cancelKeyEdit()" 
          />
        </ng-template>
      </h5>
      <ul *ngIf="footerData?.listItems[1].values?.length > 0" class="editable-list">
        <li *ngFor="let value of footerData?.listItems[1].values; let valueIndex = index">
          <ng-container *ngIf="!editingValueIndex.has(1 + '-' + valueIndex); else editValueTemplate">
            <span (click)="enableEditValue(1, valueIndex)">
              {{ value }}
            </span>
          </ng-container>
          <ng-template #editValueTemplate>
            <input 
              class="editable-input" 
              [(ngModel)]="editValue" 
              (keydown.enter)="saveValueEdit(1, valueIndex)" 
              (keydown.escape)="cancelValueEdit(1, valueIndex)" 
            />
          </ng-template>
        </li>
      </ul>
    </div>

    <div class="footer-section show" #footerSection>
      <h5>
        <ng-container *ngIf="!editingKeyIndex.has(2); else editKeyTemplate">
          <span (click)="enableEditKey(2)">
            {{ footerData?.listItems[2]?.key }}
          </span>
        </ng-container>
        <ng-template #editKeyTemplate>
          <input 
            class="editable-input" 
            [(ngModel)]="editKeyValue" 
            (keydown.enter)="saveKeyEdit(2)" 
            (keydown.escape)="cancelKeyEdit()" 
          />
        </ng-template>
      </h5>
      <ul *ngIf="footerData?.listItems[2].values?.length > 0" class="editable-list">
        <li *ngFor="let value of footerData?.listItems[2].values; let valueIndex = index">
          <ng-container *ngIf="!editingValueIndex.has(2 + '-' + valueIndex); else editValueTemplate">
            <span (click)="enableEditValue(2, valueIndex)">
              {{ value }}
            </span>
          </ng-container>
          <ng-template #editValueTemplate>
            <input 
              class="editable-input" 
              [(ngModel)]="editValue" 
              (keydown.enter)="saveValueEdit(2, valueIndex)" 
              (keydown.escape)="cancelValueEdit(2, valueIndex)" 
            />
          </ng-template>
        </li>
      </ul> 

      <h5  class="footer-company">
        <ng-container *ngIf="!editingKeyIndex.has(3); else editKeyTemplate">
          <span (click)="enableEditKey(3)">
            {{ footerData?.listItems[3]?.key }}
          </span>
        </ng-container>
        <ng-template #editKeyTemplate>
          <input 
            class="editable-input" 
            [(ngModel)]="editKeyValue" 
            (keydown.enter)="saveKeyEdit(3)" 
            (keydown.escape)="cancelKeyEdit()" 
          />
        </ng-template>
      </h5>
      <ul *ngIf="footerData?.listItems[3].values?.length > 0" class="editable-list">
        <li *ngFor="let value of footerData?.listItems[3].values; let valueIndex = index">
          <ng-container *ngIf="!editingValueIndex.has(3 + '-' + valueIndex); else editValueTemplate">
            <span (click)="enableEditValue(3, valueIndex)">
              {{ value }}
            </span>
          </ng-container>
          <ng-template #editValueTemplate>
            <input 
              class="editable-input" 
              [(ngModel)]="editValue" 
              (keydown.enter)="saveValueEdit(3, valueIndex)" 
              (keydown.escape)="cancelValueEdit(3, valueIndex)" 
            />
          </ng-template>
        </li>
      </ul> 
    </div>
    
    <div class="footer-section show" #footerSection>
      <div class="footer-social">
        <a *ngIf="editingSocial !== 0" (click)="enableEditSocial(0)">
          <svg style="width:22px; height: 22px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="#8c98a4" d="M459.4 151.7c.3 4.5 .3 9.1 .3 13.6 0 138.7-105.6 298.6-298.6 298.6-59.5 0-114.7-17.2-161.1-47.1 8.4 1 16.6 1.3 25.3 1.3 49.1 0 94.2-16.6 130.3-44.8-46.1-1-84.8-31.2-98.1-72.8 6.5 1 13 1.6 19.8 1.6 9.4 0 18.8-1.3 27.6-3.6-48.1-9.7-84.1-52-84.1-103v-1.3c14 7.8 30.2 12.7 47.4 13.3-28.3-18.8-46.8-51-46.8-87.4 0-19.5 5.2-37.4 14.3-53 51.7 63.7 129.3 105.3 216.4 109.8-1.6-7.8-2.6-15.9-2.6-24 0-57.8 46.8-104.9 104.9-104.9 30.2 0 57.5 12.7 76.7 33.1 23.7-4.5 46.5-13.3 66.6-25.3-7.8 24.4-24.4 44.8-46.1 57.8 21.1-2.3 41.6-8.1 60.4-16.2-14.3 20.8-32.2 39.3-52.6 54.3z" />
          </svg>
        </a>
        <input *ngIf="editingSocial === 0" type="text" [(ngModel)]="editSocial" (keyup.enter)="saveSocialEdit(0)" (keyup.escape)="cancelSocialEdit()" />
        
        <a *ngIf="editingSocial !== 1" (click)="enableEditSocial(1)">
          <svg style="width:22px; height: 22px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path fill="#8c98a4" d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z" />
          </svg>
        </a>
        <input *ngIf="editingSocial === 1" type="text" [(ngModel)]="editSocial" (keyup.enter)="saveSocialEdit(1)" (keyup.escape)="cancelSocialEdit()" />
        
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <img src="images/footer/44.svg" alt="shape" class="footer-shape">
    Copyright © 2024 Burq, Inc.
  </div>
</footer>

<div class="overlay" *ngIf="change">
  <div class="modal-content">
    <button class="close-button" (click)="changeLogo(publicID)">✖</button>
    <app-image [pID]="publicID"></app-image>
  </div>
</div>