<div class="whyburq-main-container" id="whyBurq">
    <div class="whyburq-container" #whyburqContainer>
      <div class="whyburq-left-column show" #whyburqLeftDiv>
        <img [src]="imageUrl[0]" alt="Image">
      </div>
  
      <div class="whyburq-right-column show" #whyburqRightDiv *ngIf="whyBurqData?.title && whyBurqData?.body && whyBurqData?.button">
        <img src="images/whyburq/heart.svg" alt="heart icon" class="heart-icon">
        <h2 (click)="startEditingWhyBurq('title')">
          <ng-container *ngIf="editingWhyBurqField !== 'title'; else editWhyBurqTitleTemplate">
            {{ whyBurqData?.title }}
          </ng-container>
          <ng-template #editWhyBurqTitleTemplate>
            <input
              type="text"
              [(ngModel)]="whyBurqUpdatedValue"
              (keyup)="handleWhyBurqKeyUp($event)"
              (blur)="saveWhyBurqField()"
              autofocus
            />
          </ng-template>
        </h2>
        
        <img src="images/whyburq/lines.svg" alt="Decorative lines" class="decorative-lines">
        
        <p (click)="startEditingWhyBurq('body')">
          <ng-container *ngIf="editingWhyBurqField !== 'body'; else editWhyBurqBodyTemplate">
            {{ whyBurqData?.body }}
          </ng-container>
          <ng-template #editWhyBurqBodyTemplate>
            <textarea
              [(ngModel)]="whyBurqUpdatedValue"
              (keyup)="handleWhyBurqKeyUp($event)"
              (blur)="saveWhyBurqField()"
              autofocus
            ></textarea>
          </ng-template>
        </p>
        
        <div *ngIf="editingWhyBurqField !== 'button'; else editWhyBurqButtonTemplate">
          <button class="cta-whyburq" (click)="startEditingWhyBurq('button')">
            {{ whyBurqData?.button[0] }}
          </button>
        </div>
        
        <ng-template #editWhyBurqButtonTemplate>
          <div>
            <input
              type="text"
              [(ngModel)]="whyBurqUpdatedButtonText"
              (keyup)="handleWhyBurqKeyUp($event)"
              (blur)="saveWhyBurqField()"
              placeholder="Edit Button Text"
              autofocus
            />
          </div>
          <div>
            <input
              type="text"
              [(ngModel)]="whyBurqUpdatedButtonUrl"
              (keyup)="handleWhyBurqKeyUp($event)"
              (blur)="saveWhyBurqField()"
              placeholder="Edit Button URL"
            />
          </div>
        </ng-template>        
      </div>
    </div>
</div>
  
<div class="benefits-maincontainer" *ngIf="benefitsData" id="whyBurq">
    <div class="benefits-container show" #benefitsContainer>
      <div class="benefit">
        <img [src]="imageUrl[1]" style="width:55px; height: 52px;" alt="On-demand delivery">
        <button class="circle-button" (click)="changeLogo(1)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="16" aria-hidden="true">
              <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1 0 32c0 8.8 7.2 16 16 16l32 0zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/>
          </svg>
        </button>
        <h3 (click)="startEditingBenefit('sp1', 0)">
          <ng-container *ngIf="editingBenefitField !== 'sp1-0'; else editSp1TitleTemplate">
            {{ benefitsData?.sp1[0] }}
          </ng-container>
          <ng-template #editSp1TitleTemplate>
            <input
              type="text"
              [(ngModel)]="updatedBenefitValue"
              (keyup)="handleBenefitKeyUp($event)"
              (blur)="saveBenefitField()"
              autofocus
            />
          </ng-template>
        </h3>
        <p (click)="startEditingBenefit('sp1', 1)">
          <ng-container *ngIf="editingBenefitField !== 'sp1-1'; else editSp1BodyTemplate">
            {{ benefitsData?.sp1[1] }}
          </ng-container>
          <ng-template #editSp1BodyTemplate>
            <textarea
              [(ngModel)]="updatedBenefitValue"
              (keyup)="handleBenefitKeyUp($event)"
              (blur)="saveBenefitField()"
              autofocus
            ></textarea>
          </ng-template>
        </p>
      </div>
      
      <div class="benefit">
        <img [src]="imageUrl[2]" style="width:52px; height: 52px;" alt="No commission">
        <button class="circle-button" (click)="changeLogo(2)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="16" aria-hidden="true">
              <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1 0 32c0 8.8 7.2 16 16 16l32 0zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/>
          </svg>
        </button>
        <h3 (click)="startEditingBenefit('sp2', 0)">
          <ng-container *ngIf="editingBenefitField !== 'sp2-0'; else editSp2TitleTemplate">
            {{ benefitsData?.sp2[0] }}
          </ng-container>
          <ng-template #editSp2TitleTemplate>
            <input
              type="text"
              [(ngModel)]="updatedBenefitValue"
              (keyup)="handleBenefitKeyUp($event)"
              (blur)="saveBenefitField()"
              autofocus
            />
          </ng-template>
        </h3>
        <p (click)="startEditingBenefit('sp2', 1)">
          <ng-container *ngIf="editingBenefitField !== 'sp2-1'; else editSp2BodyTemplate">
            {{ benefitsData?.sp2[1] }}
          </ng-container>
          <ng-template #editSp2BodyTemplate>
            <textarea
              [(ngModel)]="updatedBenefitValue"
              (keyup)="handleBenefitKeyUp($event)"
              (blur)="saveBenefitField()"
              autofocus
            ></textarea>
          </ng-template>
        </p>
      </div>
      
      <div class="benefit">
        <img [src]="imageUrl[3]" style="width:52px; height: 55px;" alt="Advanced tracking technology">
        <button class="circle-button" (click)="changeLogo(3)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="16" aria-hidden="true">
              <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1 0 32c0 8.8 7.2 16 16 16l32 0zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/>
          </svg>
        </button>
        <h3 (click)="startEditingBenefit('sp3', 0)">
          <ng-container *ngIf="editingBenefitField !== 'sp3-0'; else editSp3TitleTemplate">
            {{ benefitsData?.sp3[0] }}
          </ng-container>
          <ng-template #editSp3TitleTemplate>
            <input
              type="text"
              [(ngModel)]="updatedBenefitValue"
              (keyup)="handleBenefitKeyUp($event)"
              (blur)="saveBenefitField()"
              autofocus
            />
          </ng-template>
        </h3>
        <p (click)="startEditingBenefit('sp3', 1)">
          <ng-container *ngIf="editingBenefitField !== 'sp3-1'; else editSp3BodyTemplate">
            {{ benefitsData?.sp3[1] }}
          </ng-container>
          <ng-template #editSp3BodyTemplate>
            <textarea
              [(ngModel)]="updatedBenefitValue"
              (keyup)="handleBenefitKeyUp($event)"
              (blur)="saveBenefitField()"
              autofocus
            ></textarea>
          </ng-template>
        </p>
      </div>
    </div>
</div>

<div class="overlay" *ngIf="change">
  <div class="modal-content">
    <button class="close-button" (click)="changeLogo(publicID)">✖</button>
    <app-image [pID]="publicID"></app-image>
  </div>
</div>