<section id="features" class="features-section">
  <div class="features-container" #featuresContainer *ngIf="featuresData?.title && featuresData?.featureTiles">
    <div class="features-heading show" #featuresHeading>
      <h2 (click)="startEditing('title', 0)">
        <ng-container *ngIf="editingField !== 'title-0'; else editTitleTemplate">
          {{ featuresData.title }}
        </ng-container>
        <ng-template #editTitleTemplate>
          <input
            type="text"
            [(ngModel)]="updatedValue"
            (keyup)="handleKeyUp($event)"
            (blur)="saveField()"
            autofocus
          />
        </ng-template>
      </h2>
      <img [src]="imageUrl[0]" alt="Underline" class="underline">
    </div>

    <div class="features-grid">
      <!-- Tile 1 -->
      <div class="feature1-card show" #feature1Card>
        <div class="icon-container" style="background-color: #FFEBDB;">
          <img [src]="imageUrl[1]" alt="Powerful Icon">
        </div>
        <button class="circle-button" (click)="changeLogo(1)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="16" aria-hidden="true">
              <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1 0 32c0 8.8 7.2 16 16 16l32 0zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/>
          </svg>
        </button>
        <h3 (click)="startEditing('tile1', 0)">
          <ng-container *ngIf="editingField !== 'tile1-0'; else editTile1TitleTemplate">
            {{ featuresData.featureTiles.tile1[0] }}
          </ng-container>
          <ng-template #editTile1TitleTemplate>
            <input
              type="text"
              [(ngModel)]="updatedValue"
              (keyup)="handleKeyUp($event)"
              (blur)="saveField()"
              autofocus
            />
          </ng-template>
        </h3>
        <p (click)="startEditing('tile1', 1)">
          <ng-container *ngIf="editingField !== 'tile1-1'; else editTile1DescriptionTemplate">
            {{ featuresData.featureTiles.tile1[1] }}
          </ng-container>
          <ng-template #editTile1DescriptionTemplate>
            <input
              type="text"
              [(ngModel)]="updatedValue"
              (keyup)="handleKeyUp($event)"
              (blur)="saveField()"
              autofocus
            />
          </ng-template>
        </p>
      </div>

      <!-- Tile 2 -->
      <div class="feature2-card show" #feature2Card>
        <div class="icon-container" style="background-color: #E0F8F8;">
          <img [src]="imageUrl[2]" alt="Scale Icon">
        </div>
        <button class="circle-button" (click)="changeLogo(2)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="16" aria-hidden="true">
              <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1 0 32c0 8.8 7.2 16 16 16l32 0zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/>
          </svg>
        </button>
        <h3 (click)="startEditing('tile2', 0)">
          <ng-container *ngIf="editingField !== 'tile2-0'; else editTile2TitleTemplate">
            {{ featuresData.featureTiles.tile2[0] }}
          </ng-container>
          <ng-template #editTile2TitleTemplate>
            <input
              type="text"
              [(ngModel)]="updatedValue"
              (keyup)="handleKeyUp($event)"
              (blur)="saveField()"
              autofocus
            />
          </ng-template>
        </h3>
        <p (click)="startEditing('tile2', 1)">
          <ng-container *ngIf="editingField !== 'tile2-1'; else editTile2DescriptionTemplate">
            {{ featuresData.featureTiles.tile2[1] }}
          </ng-container>
          <ng-template #editTile2DescriptionTemplate>
            <input
              type="text"
              [(ngModel)]="updatedValue"
              (keyup)="handleKeyUp($event)"
              (blur)="saveField()"
              autofocus
            />
          </ng-template>
        </p>
      </div>

      <!-- Tile 3 -->
      <div class="feature3-card show" #feature3Card>
        <div class="icon-container" style="background-color: #F7EDFF;">
          <img [src]="imageUrl[3]" alt="Integration Icon">
        </div>
        <button class="circle-button3" (click)="changeLogo(3)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="16" aria-hidden="true">
              <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1 0 32c0 8.8 7.2 16 16 16l32 0zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/>
          </svg>
        </button>
        <h3 (click)="startEditing('tile3', 0)">
          <ng-container *ngIf="editingField !== 'tile3-0'; else editTile3TitleTemplate">
            {{ featuresData.featureTiles.tile3[0] }}
          </ng-container>
          <ng-template #editTile3TitleTemplate>
            <input
              type="text"
              [(ngModel)]="updatedValue"
              (keyup)="handleKeyUp($event)"
              (blur)="saveField()"
              autofocus
            />
          </ng-template>
        </h3>
        <p (click)="startEditing('tile3', 1)">
          <ng-container *ngIf="editingField !== 'tile3-1'; else editTile3DescriptionTemplate">
            {{ featuresData.featureTiles.tile3[1] }}
          </ng-container>
          <ng-template #editTile3DescriptionTemplate>
            <input
              type="text"
              [(ngModel)]="updatedValue"
              (keyup)="handleKeyUp($event)"
              (blur)="saveField()"
              autofocus
            />
          </ng-template>
        </p>
      </div>
    </div>
  </div>
</section>

<div class="overlay" *ngIf="change">
  <div class="modal-content">
    <button class="close-button" (click)="changeLogo(publicID)">✖</button>
    <app-image [pID]="publicID"></app-image>
  </div>
</div>