<section id="features" class="features-section">
    <div class="features-container" #featuresContainer *ngIf="featuresData?.title && featuresData?.featureTiles">
      <div class="features-heading show" #featuresHeading>
        <h2>{{ featuresData.title}}</h2>
        <img [src]="imageUrl[0]" alt="Underline" class="underline">
      </div>
      <div class="features-grid">
        <div class="feature1-card show" #feature1Card>
          <div class="icon-container" style="background-color: #FFEBDB;">
            <img [src]="imageUrl[1]" alt="Powerful Icon">
          </div>
          <h3>{{ featuresData.featureTiles.tile1[0] }}</h3>
          <p>{{ featuresData.featureTiles.tile1[1] }}</p>
        </div>
        <div class="feature2-card show" #feature2Card>
          <div class="icon-container" style="background-color: #E0F8F8;">
            <img [src]="imageUrl[2]" alt="Scale Icon">
          </div>
          <h3>{{ featuresData.featureTiles.tile2[0] }}</h3>
          <p>{{ featuresData.featureTiles.tile2[1] }}</p>
        </div>
      <div class="feature3-card show" #feature3Card>
        <div class="icon-container" style="background-color: #F7EDFF;">
          <img [src]="imageUrl[3]" alt="Integration Icon">
        </div>
        <h3>{{ featuresData.featureTiles.tile3[0] }}</h3>
        <p>{{ featuresData.featureTiles.tile3[1] }}</p>
      </div>
    </div>
  </div>
</section>