<div class="backing-div">
  <div class="client-feedback-slider-one">
    <div class="shapes-holder">
      <img src="images/backing/BgShape.svg" class="bg-shape" alt="BG Shape">
      <img src="images/backing/TL1.svg" class="topleft" alt="">
      <img src="images/backing/LT1.webp" class="leftop" alt="">
      <img src="images/backing/LB1.webp" class="leftbottom" alt="">
      <img src="images/backing/BR1.webp" class="bottomright" alt="">
    </div>
    <div class="container" *ngIf="backingData">
      <div class="heading-section">
        <h2>{{backingData.title}}</h2>
      </div>
      <div class="text-section" >
        <p>{{backingData.body}}</p>
      </div>
      <div class="investors">INVESTORS</div>
    </div>
  </div>

  <div class="fancy-short-banner">
    <div class="container" *ngIf="poweringData">
      <div class="title">
        <h2>{{poweringData.body}}</h2>
      </div>
      <div class="cta">
          <button class="cta-backing">{{poweringData.button}}</button>
      </div>
      <div class="fancy-image-topright">
        <img src="images/backing/redCircles.svg" alt="">
      </div>
    </div>
  </div>
</div>