<div class="ind-main-container">
    <div class="ind-container" #indContainer>
        <h3 class="tab-heading" #indHeading>We work with all industries</h3>
        <div class="tab-container" #indTabContainer>
            <div class="ind-tabs">
                <div class="ind-tab active" data-tab="10"><img src="/images/tabIcons/ecommerce-blue.svg" class="ind-icon active" data-tab="10"></div>
                <div class="ind-tab inactive" data-tab="11"><img src="/images/tabIcons/food.svg" class="ind-icon inactive" data-tab="11"></div>
                <div class="ind-tab inactive" data-tab="12"><img src="/images/tabIcons/flower-shop.svg" class="ind-icon inactive" data-tab="12"></div>
                <div class="ind-tab inactive" data-tab="13"><img src="/images/tabIcons/pharmacy.svg" class="ind-icon inactive" data-tab="13"></div>
                <div class="ind-tab inactive" data-tab="14"><img src="/images/tabIcons/construction.svg" class="ind-icon inactive" data-tab="14"></div>
                <div class="ind-tab inactive" data-tab="15"><img src="/images/tabIcons/grocery.svg" class="ind-icon inactive" data-tab="15"></div>
                <div class="ind-tab inactive" data-tab="16"><img src="/images/tabIcons/retailer.svg" class="ind-icon inactive" data-tab="16"></div>
            </div>
        </div>
        <div class="ind-content" #indTabContent>
            <div class="ind-tabcontent active" data-tab="10">
                <img src="/images/tabImages/ecom-delivery.webp" alt="E-commerce">
                <div class="ind-tabdetails">
                    <h3>E-commerce</h3>
                    <p>Deliver your products to your customers with our delivery management system.</p>
                </div>
            </div>
            <div class="ind-tabcontent inactive" data-tab="11">
                <img src="/images/tabImages/catering.webp" alt="Food">
                <div class="ind-tabdetails">
                    <h3>Food</h3>
                    <p>Streamline your catering and delivery services effectively.</p>
                </div>
            </div>
            <div class="ind-tabcontent inactive" data-tab="12">
                <img src="/images/tabImages/flower-shop.webp" alt="Flower Shop">
                <div class="ind-tabdetails">
                    <h3>Flower Shop</h3>
                    <p>Manage your floral deliveries with precision and care.</p>
                </div>
            </div>
            <div class="ind-tabcontent inactive" data-tab="13">
                <img src="/images/tabImages/pharmacy.webp" alt="Pharmacy">
                <div class="ind-tabdetails">
                    <h3>Pharmacy</h3>
                    <p>Deliver medications to your customers efficiently and safely.</p>
                </div>
            </div>
            <div class="ind-tabcontent inactive" data-tab="14">
                <img src="/images/tabImages/tools.webp" alt="Construction">
                <div class="ind-tabdetails">
                    <h3>Construction</h3>
                    <p>Optimize your tools and equipment delivery process.</p>
                </div>
            </div>
            <div class="ind-tabcontent inactive" data-tab="15">
                <img src="/images/tabImages/grocery.webp" alt="Grocery">
                <div class="ind-tabdetails">
                    <h3>Grocery</h3>
                    <p>Ensure timely delivery of groceries to your customers.</p>
                </div>
            </div>
            <div class="ind-tabcontent inactive" data-tab="16">
                <img src="/images/tabImages/retailer.webp" alt="Retailer">
                <div class="ind-tabdetails">
                    <h3>Retailer</h3>
                    <p>Manage your retail deliveries with ease and efficiency.</p>
                </div>
            </div>
        </div>
    </div>
</div>