<div class="main-container" id="integrate">
    <div class="flex-container" #observeContainer>
        <div class="left-div show" #leftDiv *ngIf="integrateData?.smallHeading && integrateData?.title && integrateData?.body && integrateData?.button">
            <h6 (click)="startEditing('smallHeading')">
                <ng-container *ngIf="editingField !== 'smallHeading'; else editSmallHeadingTemplate">
                    {{ integrateData?.smallHeading }}
                </ng-container>
                <ng-template #editSmallHeadingTemplate>
                    <input
                    type="text"
                    [(ngModel)]="updatedValue"
                    (keyup)="handleKeyUp($event)"
                    (blur)="saveField()"
                    autofocus
                    />
                </ng-template>
            </h6>
              
            <h3 (click)="startEditing('title')">
                <ng-container *ngIf="editingField !== 'title'; else editTitleTemplate">
                    {{ integrateData?.title }}
                </ng-container>
                <ng-template #editTitleTemplate>
                    <input
                    type="text"
                    [(ngModel)]="updatedValue"
                    (keyup)="handleKeyUp($event )"
                    (blur)="saveField()"
                    autofocus
                    />
                </ng-template>
            </h3>
              
            <img [src]="imageUrl[1]" alt="Image">
              
            <p (click)="startEditing('body')">
                <ng-container *ngIf="editingField !== 'body'; else editBodyTemplate">
                    {{ integrateData?.body }}
                </ng-container>
                <ng-template #editBodyTemplate>
                    <textarea
                    [(ngModel)]="updatedValue"
                    (keyup)="handleKeyUp($event)"
                    (blur)="saveField()"
                    autofocus
                    ></textarea>
                </ng-template>
            </p>
              
            <button class="cta-hero" 
                *ngIf="editingField !== 'buttonText' ; else editButtonTemplate"
                (click)="startEditing('buttonText')"
            >
                {{ integrateData?.button[0] }}
            </button>
              
            <ng-template #editButtonTemplate>
                <div>
                    <input
                    type="text"
                    [(ngModel)]="updatedButtonText"
                    (keyup)="handleKeyUp($event)"
                    (blur)="saveField()"
                    placeholder="Edit Button Text"
                    autofocus
                    />
                </div>
                <div>
                    <input
                    type="text"
                    [(ngModel)]="updatedButtonUrl"
                    (keyup)="handleKeyUp($event)"
                    (blur)="saveField()"
                    placeholder="Edit Button URL"
                    />
                </div>
            </ng-template>
                
        </div>
        <div class="right-div show" #rightDiv>
            <div class="border-div left-1"  style="width:81px; height: 81px;">
                <img src="/images/zapier.png" class="border-image" style="width:60px; height: 60px;" alt="Image 1">
            </div>
            <div class="border-div left-2"  style="width:105px; height: 105px;">
                <img src="/images/woo.png" class="border-image"  style="width:60px; height: 36px;"alt="Image 2">
            </div>
            <div class="border-div top-1"  style="width:60px; height: 60px;">
                <img src="/images/clover.png" class="border-image"  style="width:30px; height: 30px;"alt="Image 3">
            </div>
            <div class="border-div right-1"  style="width:105px; height: 105px;">
                <img src="/images/ebay.png" class="border-image" alt="Image 4">
            </div>
            <div class="border-div right-2" style="width:100px; height: 100px;">
                <img src="/images/package.svg" class="border-image" style="width:100px; height: 100px;" alt="Image 5">
            </div>
            <div class="border-div bottom-1" style="width:148px; height: 148px;">
                <img src="/images/shopify.png" class="border-image" style="width: 80px; height: 91px;"alt="Image 6">
            </div>

            <div class="round-div">
                <img [src]="imageUrl[0]" alt="Round Image" style="width: 100px; height: 100px;">
            </div>
            <button class="circle-button" (click)="changeLogo(1)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="16" aria-hidden="true">
                    <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1 0 32c0 8.8 7.2 16 16 16l32 0zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/>
                </svg>
            </button>
        </div>
    </div>
</div>

<div class="overlay" *ngIf="change">
    <div class="modal-content">
      <button class="close-button" (click)="changeLogo(publicID)">✖</button>
      <app-image [pID]="publicID"></app-image>
    </div>
  </div>