<div class="outer-div">
    <div class="inner-div">
        <div class="upper-inner-div">
            <img src="images/testimonials/shape1.svg" alt="Image" class="imageTopLeft">
            <h2 class="testimonial">Our clients love us &amp; we love them</h2>
        </div>
        <div class="lower-inner-div">
            <img src="images/testimonials/shape2.svg" alt="Image" class="imageTopRight">
            <div class="slider">
                <div class="slide">
                    <img src="images/testimonials/66.svg" style="width: 75px; height: 53px; padding-bottom: 20px;" alt="Image">
                    <p class="testp">We've been looking for a solution like this for a long time and ever since partnering with Burq, we've been able to significantly scale our off-premise solutions. We're now enabling delivery for over 60% of our clients!</p>
                    <h6 class="name">CEO & Co-founder</h6>
                    <p class="desig">Online Ordering Platform</p>
                </div>
                <div class="slide">
                    <img src="images/66.svg" style="width: 75px; height: 53px; padding-bottom: 20px;" alt="Image">
                    <p class="testp">We desperately needed to offer delivery to our clients, and Burq made this daunting task really simple. In a matter of a few weeks, we were live with an all-encompassing delivery solution.</p>
                    <h6 class="name">COO</h6>
                    <p class="desig">Restaurant Solutions Company</p>
                </div>
                <div class="slide">
                    <img src="images/66.svg" style="width: 75px; height: 53px; padding-bottom: 20px;" alt="Image">
                    <p class="testp">From top to bottom, working with the Burq team has been a great experience. We had a nearly seamless integration process and they've been very professional supporting us ever since.</p>
                    <h6 class="name">CTO & Co-Founder</h6>
                    <p class="desig">Online Grocery Platform</p>
                </div>
                <div class="slide">
                    <img src="images/66.svg" style="width: 75px; height: 53px; padding-bottom: 20px;" alt="Image">
                    <p class="testp">Looking back, integrating Burq saved us months of work of integrating and dealing with additional delivery companies along the way.</p>
                    <h6 class="name">CEO & Co-founder</h6>
                    <p class="desig">Luxury Goods Marketplace</p>
                </div>
                <div class="slide">
                    <img src="images/66.svg" style="width: 75px; height: 53px; padding-bottom: 20px;" alt="Image">
                    <p class="testp">Our customers have had far fewer issues with deliveries since we switched over to Burq and we've spent less time dealing with daily delivery problems. As a company highly invested in our users' experience, we've found a great fit with Burq.</p>
                    <h6 class="name">Head of Operations</h6>
                    <p class="desig">National Food Corporation</p>
                </div>
            </div>
            <div class="controls">
                <button id="prev">&larr;</button>
                <button id="next">&rarr;</button>
            </div>
        </div>
    </div>
</div>