<nav class="navbar" #navbar>
  <div class="navbar-container">
    <a class="navbar-brand" href="/main">
      <img src="/images/burq-logo.jpg" alt="Burq Logo" />
    </a>
    <ul class="nav-links" *ngIf="navbarData?.listItems && navbarData?.buttonText">
      <li class="dropdown" *ngFor="let key of objectKeys(navbarData.listItems)">
        <a href="/burq">{{key}}<i class="arrow down" *ngIf="navbarData.listItems[key].length"></i></a>
        <ul class="dropdown-menu" *ngIf="navbarData.listItems[key].length">
          <li>
            <a href="/burq" *ngFor="let item of navbarData.listItems[key]">{{ item }}</a>
          </li>
        </ul>
      </li>
      <li><a href="/"><button class="cta-nav" (click)="onLogout()">{{ navbarData.buttonText }}</button></a></li>
    </ul>
  </div>
</nav>

<header class="hero-section" #heroSection>
  <div class="container">
    <div class="hero-content" *ngIf="heroSectionData?.heading && heroSectionData?.paragraph && heroSectionData?.buttonText">
      <h1>{{ heroSectionData.heading }}</h1>
      <p>{{ heroSectionData.paragraph }}</p>
      <button class="cta-hero">{{ heroSectionData.buttonText }}</button>
    </div>
    <div class="hero-video">
      <div class="video-container">
        <video autoplay loop muted preload playsinline>
          <source [src]="imageUrl" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
</header>
<button #myBtn (click)="topFunction()" id="myBtn" title="Back to Top"><i class="arrowTop up"></i></button>

<section id="features" class="features-section">
  <div class="features-container" #featuresContainer *ngIf="featuresData?.title && featuresData?.featureTiles">
    <div class="features-heading" #featuresHeading>
      <h2>{{ featuresData.title}}</h2>
      <img src="/images/lines.svg" alt="Underline" class="underline">
    </div>
    <div class="features-grid">
      <div class="feature1-card" #feature1Card>
        <div class="icon-container" style="background-color: #FFEBDB;">
          <img src="/images/icon1.svg" alt="Powerful Icon">
        </div>
        <h3>{{ featuresData.featureTiles.tile1[0] }}</h3>
        <p>{{ featuresData.featureTiles.tile1[1] }}</p>
      </div>
      <div class="feature2-card" #feature2Card>
        <div class="icon-container" style="background-color: #E0F8F8;">
          <img src="/images/icon2.svg" alt="Scale Icon">
        </div>
        <h3>{{ featuresData.featureTiles.tile2[0] }}</h3>
        <p>{{ featuresData.featureTiles.tile2[1] }}</p>
      </div>
      <div class="feature3-card" #feature3Card>
        <div class="icon-container" style="background-color: #F7EDFF;">
          <img src="/images/icon3.svg" alt="Integration Icon">
        </div>
        <h3>{{ featuresData.featureTiles.tile3[0] }}</h3>
        <p>{{ featuresData.featureTiles.tile3[1] }}</p>
      </div>
    </div>
  </div>
</section>

<app-provider />
<app-tabs />
<app-integrate />
<app-industries />
<app-whyburq />
<app-testimonials />
<app-backing />
<app-footer />