<nav class="navbar" #navbar>
  <div class="navbar-container">
    <a class="navbar-brand" (click)="openNav()">
      <img [src]="imageUrl[0]" alt="Burq Logo" />
    </a>
    <ul class="nav-links" *ngIf="navbarData?.listItems && navbarData?.buttonText">
      <li class="dropdown" *ngFor="let key of objectKeys(navbarData.listItems)">
        <a href="/burq">{{key}}<i class="arrow down" *ngIf="navbarData.listItems[key].length"></i></a>
        <ul class="dropdown-menu" *ngIf="navbarData.listItems[key].length">
          <li>
            <a href="/burq" *ngFor="let item of navbarData.listItems[key]">{{ item }}</a>
          </li>
        </ul>
      </li>
      <li><a ><button class="cta-nav" (click)="onLogout()">{{ navbarData.buttonText }}</button></a></li>
    </ul>
  </div>
</nav>

<div id="mySidenav" class="sidenav" #mySidenav>
  <a  class="sidenav-closebtn" (click)="closeNav()">&times;</a>
  <div class="sidenav-dropdown" *ngFor="let section of dropdownSections">
      <a href="javascript:void(0)" (click)="scrollTo(section.comp)"> {{ section.name }} </a>
  </div>          
</div>

<header class="hero-section" #heroSection>
  <div class="container">
    <div class="hero-content" *ngIf="heroSectionData?.heading && heroSectionData?.paragraph && heroSectionData?.buttonText">
      <h1>{{ heroSectionData.heading }}</h1>
      <p>{{ heroSectionData.paragraph }}</p>
      <button class="cta-hero">{{ heroSectionData.buttonText }}</button>
    </div>
    <div class="hero-video">
      <div class="video-container">
        <video autoplay loop muted preload playsinline>
          <source [src]="videoUrl" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
</header>
<button #myBtn (click)="topFunction()" id="myBtn" title="Back to Top"><i class="arrowTop up"></i></button>

<section id="features" class="features-section">
  <div class="features-container" #featuresContainer *ngIf="featuresData?.title && featuresData?.featureTiles">
    <div class="features-heading" #featuresHeading>
      <h2>{{ featuresData.title}}</h2>
      <img [src]="imageUrl[1]" alt="Underline" class="underline">
    </div>
    <div class="features-grid">
      <div class="feature1-card" #feature1Card>
        <div class="icon-container" style="background-color: #FFEBDB;">
          <img [src]="imageUrl[2]" alt="Powerful Icon">
        </div>
        <h3>{{ featuresData.featureTiles.tile1[0] }}</h3>
        <p>{{ featuresData.featureTiles.tile1[1] }}</p>
      </div>
      <div class="feature2-card" #feature2Card>
        <div class="icon-container" style="background-color: #E0F8F8;">
          <img [src]="imageUrl[3]" alt="Scale Icon">
        </div>
        <h3>{{ featuresData.featureTiles.tile2[0] }}</h3>
        <p>{{ featuresData.featureTiles.tile2[1] }}</p>
      </div>
      <div class="feature3-card" #feature3Card>
        <div class="icon-container" style="background-color: #F7EDFF;">
          <img [src]="imageUrl[4]" alt="Integration Icon">
        </div>
        <h3>{{ featuresData.featureTiles.tile3[0] }}</h3>
        <p>{{ featuresData.featureTiles.tile3[1] }}</p>
      </div>
    </div>
  </div>
</section>

<app-provider #provider/>
<app-tabs #tabs/>
<app-integrate #integrate/>
<app-industries #industries/>
<app-whyburq #whyburq/>
<app-testimonials #testimonials/>
<app-backing #backing/>
<app-footer #footer/>