<nav class="navbar" #navbar>
    <div class="navbar-container">
      <a class="navbar-brand" href="/">
        <img src="/images/burq-logo.jpg" alt="Burq Logo" />
      </a>
      <ul class="nav-links">
        <li class="dropdown">
          <a href="#">Use Cases <i class="arrow down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="#">E-Commerce</a></li>
            <li><a href="#">Food</a></li>
            <li><a href="#">Flower</a></li>
            <li><a href="#">Health & Wellness</a></li>
            <li><a href="#">Construction</a></li>
            <li><a href="#">Grocery</a></li>
            <li><a href="#">Retailer</a></li>
            <li><a href="#">Laundromat</a></li>
          </ul>
        </li>
        <li><a href="#">Integrations</a></li>
        <li class="dropdown">
          <a href="#">Developers <i class="arrow down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Chat Now</a></li>
          </ul>
        </li>
        <li><button class="cta-nav">Let's Get Started</button></li>
      </ul>
    </div>
  </nav>

  <header class="hero-section" #heroSection>
    <div class="container">
      <div class="hero-content">
        <h1>Offer On-Demand Delivery, instantly!</h1>
        <p>
          Burq enables you to access multiple delivery providers under one
          platform. We make it easy for you to offer delivery to your customers.
        </p>
        <button class="cta-hero">Let's Get Started</button>
      </div>
      <div class="hero-video">
        <div class="video-container">
          <video muted="muted" preload autoplay loop playsinline>
            <source src="/images/3steps.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
  </header>
  <button #myBtn (click)="topFunction()" id="myBtn" title="Back to Top"><i class="arrowTop up"></i></button>

  <section id="features" class="features-section">
    <div class="features-container" #featuresContainer>
      <div class="features-heading" #featuresHeading>
        <h2>Delivery with the push of a button</h2>
        <img src="/images/lines.svg" alt="Underline" class="underline">
      </div>
      <div class="features-grid">
        <div class="feature1-card" #feature1Card>
          <div class="icon-container" style="background-color: #FFEBDB;">
            <img src="/images/icon1.svg" alt="Powerful Icon">
          </div>
          <h3>Powerful Yet Easy</h3>
          <p>Save months of building delivery infrastructure. Integrate Burq to get connected with multiple delivery providers.</p>
        </div>
        <div class="feature2-card" #feature2Card>
          <div class="icon-container" style="background-color: #E0F8F8;">
            <img src="/images/icon2.svg" alt="Scale Icon">
          </div>
          <h3>Scale Faster</h3>
          <p>With a massive network of on-demand & same-day delivery providers, your business can scale to new markets within days.</p>
        </div>
        <div class="feature3-card" #feature3Card>
          <div class="icon-container" style="background-color: #F7EDFF;">
            <img src="/images/icon3.svg" alt="Integration Icon">
          </div>
          <h3>Quick Integration</h3>
          <p>Tap into our documentation for simple integration and continuous support.</p>
        </div>
      </div>
    </div>
  </section>
  <app-provider />
  <app-tabs />
  <app-integrate />
  <app-industries />
  <app-whyburq />
  <app-testimonials />
  <app-backing />
  <app-footer />