<app-template-herosection   (heroSectionEvent)="receiveHero($event)"        [fieldToUpdate]="field"/>
<app-template-features      (featuresDataEvent)="receiveFeature($event)"    [fieldToUpdate]="field"/>
<app-template-provider      (providerEvent)="receiveProviders($event)"      [fieldToUpdate]="field"/>
<app-template-tabs          (tabsEvent)="receiveTabs($event)"               [fieldToUpdate]="field"/>
<app-template-integrate     (integratEvent)="receiveIntegrate($event)"      [fieldToUpdate]="field"/>
<app-template-industries    (industryEvent)="receiveIndustries($event)"     [fieldToUpdate]="field"/>
<app-template-whyburq       (whyburqEvent)="receiveWhyBurq($event)"         [fieldToUpdate]="field"/>
<app-template-testimonials  (testimonialsEvent)="receiveTest($event)"       [fieldToUpdate]="field"/>
<app-template-backing       (backingDataEvent)="receiveBacking($event)"     [fieldToUpdate]="field"/>
<app-template-footer        (footerDataEvent)="receiveFooter($event)"       [fieldToUpdate]="field"/>